/*

  Use this file to add any custom modifications.
  Doing this will allow you to update this template easily.

*/
.clearfix{
  clear:both;
}
h2.section-title a{
	color: white;
}
div.mask h2 a.view, div.mask h2 a.view:hover{
	color: #fff !important;
	text-decoration: none;
	font-size: 1em;
}
div.echart.loading#main{
	background:url('../img/RAM.jpg') no-repeat scroll 0px 0px;
	background-position:center top;
}

.section-about-numbers .badge-content .badge-large {
  font-size: 65px;
  margin: 0;
  color: #ef7c00;
  display: block;
}
.section-about-numbers .badge-content .badge-small {
  font-size: 20px;
  color: #003d7c;
  display: block;
}
.section-about-numbers .badge-content {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}


.col-md-3 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}
@media (min-width: 768px){
  .col-md-3 {
    width: 25%;
  }
  .visible-sm{
    display: none!important;
  }
}
@media (max-width: 767px){
  .sy-box{margin: 20px -20px 0 0px;}
  .col-md-3 {
    width: 50%;
  }
  .visible-sm {
    display: block!important;
  }
}
.slide-content{
  text-align: center;
}
.sy-pager{
  height: 22px;
}
.slide-content{
}

.memphotomore{
  position: absolute;
  width: 49px;
  height: 20px;
  bottom: 2px;
  right: 2px;
  background-color: #00A0C6;
  z-index: 1;

}
.memphotomore a{
  color: #fff !important;
}