.bar-legend, .line-legend, .scatter-legend {
  list-style: none;
  position: absolute;
  right: 8px;
  top: 0;
}
.bar-legend li , .line-legend li, .scatter-legend li{
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.bar-legend li:hover, .line-legend li:hover, .scatter-legend li:hover{
  background-color: #fafafa;
}
.bar-legend li span, .line-legend li span, .scatter-legend li span{
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}
